body {
    margin: 0;
}

.head {
    background: url(./assets/header-bg.jpg);
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 95px 217px;
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.head_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.head_title__main {
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.scroll_icon__container {
    align-self: center;
}
.services {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.head_titles__services {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 85px 750px 80px;
}
.head_title2__krea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: bold;
}
.head_title2__services {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.head_element__line {
    color:blueviolet;
}
.services_info {
    display: flex;
    align-items: center;
}
.consultancy {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.consultancy_head_style {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
}
.mentorship {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mentorship_head_style {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
}
.incubatory {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.incubatory_head_style {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
}
.get_in_touch__button {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 85px 750px;
    position: relative;
}
.button_position {
    width: 295px;
    height: 65px;
}
.button_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: white;
}