/*CSS Navigation | Sectors of KREAN Page
    1. Body
    2. Header - <div class="head">
    3. Services - <div class="services">
    
    <-- Will be added with next UPD -->
    
    4. Works - <div class="">
    5. References - <div class="">
    6. Contact - <div class="">
    7. Footer - <div class="">
*/
/* 1. Body */
body {
    margin: 0;
}
/* 2. Header */
.head {
    background: url(./assets/header-bg.jpg);
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 95px 217px;
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: Arial, Helvetica, sans-serif;
}

.head_title {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.head_title__main {
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.scroll_icon__container {
    align-self: center;
}
/* 3. Services */
.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(112, 128, 144);
}

.head_titles__services {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 85px 750px 80px;
}

.head_title2__krea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.head_title2__services {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: gray;

    border-bottom: 2px solid blueviolet;
    padding-bottom: 5px;
}

.card_header {
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: gray;
}

.consultancy {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mentorship {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.incubatory {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.get_in_touch__button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 153px;
    padding-bottom: 135px;
}

.button_style {
    background: url(./assets/touch-bg.png);
    border: none;
    text-align: center;
    text-decoration: none;

    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;

    height: 63px;
    width: 295px;
}
/* 4. Works - NEXT UPD */