body {
    margin: 0;
}

.head {
    background: url(./assets/header-bg.jpg);
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 95px 217px;
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.head_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.head_title__main {
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.scroll_icon__container {
    align-self: center;
}